html,
body {
  box-sizing: border-box;
  margin: 0;
  background-color: #0c0c0c;
  color: rgb(4, 237, 245);
  font-family: 'Quintessential', cursive;
  font-size: 20px;
}

.wrapper {
  margin: 0 auto;
  width: 67%;
  min-height: 150vh;
}

.navbar {
  width: 100%;
  height: 10rem;
}

.nav {
  margin: 0;
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content:center;
  height: 100%;
  text-align:center;
}

.nav__item {
  display: inline-block;
  list-style-type: none;
  font-size: 3.5rem;
  font-weight: bold;
}

.todo-form {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr auto;
}

.input-field {
  position: relative;
}

.input-field > label {
  font-size: 1.1rem;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 0.5rem);
  padding-left: 0.5rem;
  padding-right: auto;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: rgba(116, 41, 41, 0.3);
  transition: 0.3s;
  cursor: text;
}

.input-field > label:focus-within {
  transform-origin: 0 0;
  transform: translateY(-1rem) scale(0.8);
  color: white;
  background-color: black;
}

#input--add {
  width: 750px;
}

.input {
  height: 2rem;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0 0.5rem;
  font-size: 1.1rem;
  color: rgb(13, 191, 245);
  background-color: rgb(46, 46, 46);
  border: none;
  border: 5px solid rgb(253, 196, 7);
  border-bottom: 5px solid rgb(253, 196, 7);
  border-radius: 10px;
  transition: 0.3s;
}

.input:focus {
  border-bottom: 3px solid white;
  outline: none;
  filter: brightness(0.7);
}



.button {
  height: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 0.9rem;
  background-color: rgb(13, 245, 52);
  color: rgb(46, 46, 46);
  border-color:darkgreen;
  padding: 0.5rem;
  margin-right: 150px;
  border: 1px solid white;
  border-radius: 0.3rem;
  display: inline-block;
  transition: 0.3s;
}

.button:hover {
  cursor: pointer;
  filter: brightness(0.7);
}

.button--todo {
  color: rgb(10, 10, 10);
  background-color:red ;
  border: 5px solid rgb(252, 228, 13);
  transition: 0.3s;
  margin-left:100px;
  grid-template-rows: min-content;
  font-size: 20px;
  margin-bottom: 20px;
}


.todo-collection {
  padding-left: 0;
}

.todo-collection__item {
  list-style-type:none;
  margin: 10px;
  padding: 1rem 0;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.6);
  font-size: 100px;
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr auto auto;
}

.todo-collection__item__title {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5rem;
  overflow-x: auto;
  font-family: 100px;
  
}

.hidden {
  display: none;
}

.shake-horizontal {
  animation: shake 0.25s;
  animation-iteration-count: infinite;
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    width: 75%;
  }
  .todo-collection__item__title {
    overflow-x:auto;
  }
  .button--todo{
    font-size: 10px;
    margin-inline-end: auto;
    margin-inline-start: auto;
  }
}

@media only screen and (max-width: 500px) {
  .wrapper {
    width: 90%;
  }
  
}